@charset "UTF-8";

header {
    min-height: 110px;
    padding: 15px;
}

.avatar {
    width: 75px;
    height: 75px;
    margin-right: 15px;
}

nav a {
    margin-right: 15px;
}

.home-content {
    padding: 100px 15px;
    text-align: center;
}

.welcome-box {
    width: 85%;
    margin-left: auto;
    margin-right: auto;
    padding: 45px 25px;
    border-radius: 12px;
}

.welcome-box p {
    margin: 0px;
    font-size: 18px
}

.photo-banner {
    height: 235px;
    padding-top: 15px;
}

.about-photo {
    width: 200px;
    height: 200px;
}

.about-info {
    width: 80%;
    margin-left: 20%;
    padding: 30px 15px 15px 15px;
}

.video-section {
    padding: 20px 15px;
}

.video-section video {
    max-width: 90%;
}

.projects-section {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    padding: 40px 10px;
}

.projects-section h1 {
    text-align: center;
}

.project-card {
    padding: 18px;
    margin-bottom:18px;
}

footer {
    padding: 22px 15px;
}

.footer-avatar {
    width: 60px;
    height:60px;
}

footer p {
    margin-left: 12px;
}